<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>MEYOT - Enlightening the Youth of Today </title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <script src=".javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Help guide and encourage individuals transitioning from prison society">
    <link rel="author" href="https://plus.google.com/106980489885368932298/posts">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  
  <body>
    <div class="wrapper">

      <header>

        <ul>
          <li><a href="index.html">MEYOT</a></li>
          <li><a href="welcome.html">Welcome</a></li>
          <li><a href="clients.html">For Clients</a></li>
          <li><a href="classes.html">Classes</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>

      </header>

      <section>

        {{ content }}

      </section>

    </div>

    <footer>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
